{% extends "notes/base.html" %}

{% block title %}
List Notes
{% endblock %}


{% block content %}

<div class="col-sm-8 offset-sm-2">

  <div class="row">

    <table class="table table-striped">
      <thead>
        <TH> Title </TH>
        <TH> Created On </TH>
        <TH> Last Modified </TH>
        <TH> Owner </TH>
      </thead>

      <tbody>
        {% for object in object_list %}
        <TR>
          <TD>
            <A href="{% url 'notes:note-detail' object.pk %}">{{ object.title }} </A>
          </TD>
          <TD> {{ object.created_on }}</TD>
          <TD> {{ object.last_edited }}</TD>
          <TD> {{ object.owner }}</TD>
        </TR>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <a href="{% url 'notes:note-create' %}" class="btn btn-info btn-sm" type="button">Add Note</a>
  </div>
</div>

{% endblock %}
